{{#if destinations}}
<div class="ui three stackable cards">
      {{#each destinations}}
      <div class="ui card">
        <div class="image">
            <img src="/{{image}}" alt="{{city}}">
        </div>

        <div class="content">
            <a class="header">{{city}}</a>
            <div class="meta">
                Type: {{type}}
            </div>
            <div class="description">
               <i class="star icon"></i> Famous For: {{popular}}
               {{#if rating}}
                 <p>
                     <span 
                        class="ui yellow disabled rating" 
                        data-icon="star" 
                        data-rating="{{rating}}" 
                        data-max-rating="5">
                    </span>

                    <span style="color: grey; font-size: 90%; font-style: italic">
                         {{highlightPopular rating}}
                    </span>
                 </p>
               {{/if}}
            </div>
        </div>

    <div class="extra content">
      <a href="/travel/{{../id}}/deletedestination/{{id}}" 
         title="Delete city">
        <i class="ui black trash icon"></i>
      </a>
    </div>

</div>
{{/each}}
</div>

  {{else}}
    <h3 class="ui message">
     Empty Destination List!
    </h3>

{{/if}}
