{{#if destinations}}

<div class="ui three stackable cards">

  {{#each destinations}}
  <div class="ui card">

    <div class="content">
      <div class="header">
        {{uppercase country}}
      </div>
    </div>

    <div class="content">
      <p>Total cities: {{destinations.length}}</p>
      {{#if date}}
      <p>
        <i class="calendar alternate outline icon"></i>
        Created on <i>{{formatDate date}}</i>
      </p>
      {{/if}}
    </div>

    <div class="extra content">
      <a href="/travel/{{id}}">
        <i class="ui open folder outline black icon"></i> View
      </a>
      <a href="dashboard/deletecountry/{{id}}">
        <i class="ui trash black icon"></i>
      </a>
    </div>

  </div>
  {{/each}}

</div>

{{else}}

  <h3 class="ui message">
    Start adding your countries!
  </h3>

{{/if}}