{{#if singleDestination.destinations}}
      {{#each singleDestination.destinations}}
      <div class="ui centered card">
        <div class="image">
            <img src="/{{image}}" alt="{{city}}">
        </div>

        <div class="content">
            <a class="header">{{city}}</a>
            <div class="meta">
                Type: {{type}}
            </div>
            <div class="description">
                Famous For: {{popular}}
            </div>
        </div>
</div>
 

  {{else}}
    <h3 class="ui message">
     Empty Destination List!
    </h3>

{{/if}}
