{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

   <h2>About the Developers</h2>
   <p>
    Find out more about the app's Creator
   </p>


<div class="ui centered card">
    <div class="image">
        <img src="{{emps.image}}">
    </div>
    <div class="content">
        <a class="header">{{emps.fullname}}</a>
        <div class="meta">
            <span class="date">Joined in {{emps.joined}}</span>
        </div>
        <div class="description">
            {{emps.name}} is a {{emps.job}} living in {{emps.city}}.
        </div>
    </div>
    <div class="extra content">
        <div class="contact">
         Contact {{emps.name}} here: {{emps.contact}}
        </div>
        <a>
            <i class="user icon"></i>
            {{emps.connections}} contacts
        </a>
    </div>
</div>



</section>