{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

   <h2>About the Travel Destination App</h2>
   <p>
    Find out more about the app and it's Creator
   </p>

<img src = "/map.png" class = "ui centered image" width="400px">

<div class="ui five statistics" style="margin-top: 1em;">

    {{#with info}}

  <div class="statistic">
    <div class="value">
      <i class="music icon"></i>
    </div>
    <div class="label">
        App Title: <br>
        {{appTitle}}
    </div>
  </div>
  <!-- other statistics will go here -->
    <div class="statistic">
    <div class="value">
      <i class="code branch icon"></i>
    </div>
    <div class="label">
        App Version: <br>
        {{version}}
    </div>
  </div>
    <div class="statistic">
    <div class="value">
      <i class="map pin icon"></i>
    </div>
    <div class="label">
        Made in: <br>
        {{location}}
    </div>
  </div>
    <div class="statistic">
    <div class="value">
      <i class="user icon"></i>
    </div>
    <div class="label">
        Created by: <br>
        {{creators.0.name}}
    </div>
  </div>
    <div class="statistic">
    <div class="value">
      <i class="user plus icon"></i>
    </div>
    <div class="label">
        With help from: <br>
        {{creators.1.name}}
    </div>
  </div>

{{/with}}

</div>

<div class="ui centered card">
    <div class="image">
        <img src="{{emps.image}}">
    </div>
    <div class="content">
        <a class="header">{{emps.fullname}}</a>
        <div class="meta">
            <span class="date">Joined in {{emps.joined}}</span>
        </div>
        <div class="description">
            {{emps.name}} is a {{emps.job}} living in {{emps.city}}.
        </div>
    </div>
    <div class="extra content">
        <div class="contact">
         Contact {{emps.name}} here: {{emps.contact}}
        </div>
        <a>
            <i class="user icon"></i>
            {{emps.connections}} contacts
        </a>
    </div>
</div>



</section>